# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

//pruebas de la api
ConexionApi/conexio_dart_api/lib/view/admin
ConexionApi/conexio_dart_api/lib/view/escuela
ConexionApi/conexio_dart_api/lib/view/localidad
ConexionApi/conexio_dart_api/lib/view/municipio
ConexionApi/conexio_dart_api/lib/view/region

ConexionApi/conexio_dart_api/lib/view_model/admin
ConexionApi/conexio_dart_api/lib/view_model/escuela
ConexionApi/conexio_dart_api/lib/view_model/localidad
ConexionApi/conexio_dart_api/lib/view_model/municipio
ConexionApi/conexio_dart_api/lib/view_model/region
